<h1>{{ title }}</h1>
<ul>
  <li *ngFor="let itemLista of listaDeTarefas">{{ itemLista.id }} - {{ itemLista.title}} - {{itemLista.done}} |
     <button *ngIf="itemLista.done" (click)="markAsUndone(itemLista)">Refazer</button> | 
     <button *ngIf="!itemLista.done" (click)="markAsDone(itemLista)">Concluir</button> |
     <button (click)="remove(itemLista)">Remover</button> </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input type="text" placeholder="Titulo da tarefa" maxlength="60" formControlName="title">
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Esse campo deve ter entre 3 e 60 caracteres</small>
    <button>Adicionar</button>
  </fieldset>

</form>

